.labelPicker,
.labelPicker > * {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
}

.pickerListOption {
  display: flex;
  align-items: center;
}

.labelPickerPlaceholder {
  display: inline-flex;
  align-self: center;
  align-items: center;
  white-space: nowrap;
  color: var(--rs-text-secondary);
  opacity: 0.5;
}
