:root {
  /****************** 
  Basics
  ******************/

  overflow-wrap: break-word;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /****************** 
  Colors variables
  ******************/

  /* Gray alpha (light mode) */
  --tt-gray-light-a-50: rgb(56 56 56 / 4%);
  --tt-gray-light-a-100: rgb(15 22 36 / 5%);
  --tt-gray-light-a-200: rgb(37 39 45 / 10%);
  --tt-gray-light-a-300: rgb(47 50 55 / 20%);
  --tt-gray-light-a-400: rgb(40 44 51 / 42%);
  --tt-gray-light-a-500: rgb(52 55 60 / 64%);
  --tt-gray-light-a-600: rgb(36 39 46 / 78%);
  --tt-gray-light-a-700: rgb(35 37 42 / 87%);
  --tt-gray-light-a-800: rgb(30 32 36 / 95%);
  --tt-gray-light-a-900: rgb(29 30 32 / 98%);

  /* Gray (light mode) */
  --tt-gray-light-50: rgb(250 250 250 / 100%);
  --tt-gray-light-100: rgb(244 244 245 / 100%);
  --tt-gray-light-200: rgb(234 234 235 / 100%);
  --tt-gray-light-300: rgb(213 214 215 / 100%);
  --tt-gray-light-400: rgb(166 167 171 / 100%);
  --tt-gray-light-500: rgb(125 127 130 / 100%);
  --tt-gray-light-600: rgb(83 86 90 / 100%);
  --tt-gray-light-700: rgb(64 65 69 / 100%);
  --tt-gray-light-800: rgb(44 45 48 / 100%);
  --tt-gray-light-900: rgb(34 35 37 / 100%);

  /* Gray alpha (dark mode) */
  --tt-gray-dark-a-50: rgb(232 232 253 / 5%);
  --tt-gray-dark-a-100: rgb(231 231 243 / 7%);
  --tt-gray-dark-a-200: rgb(238 238 246 / 11%);
  --tt-gray-dark-a-300: rgb(239 239 245 / 22%);
  --tt-gray-dark-a-400: rgb(244 244 255 / 37%);
  --tt-gray-dark-a-500: rgb(236 238 253 / 50%);
  --tt-gray-dark-a-600: rgb(247 247 253 / 64%);
  --tt-gray-dark-a-700: rgb(251 251 254 / 75%);
  --tt-gray-dark-a-800: rgb(253 253 253 / 88%);
  --tt-gray-dark-a-900: rgb(255 255 255 / 96%);

  /* Gray (dark mode) */
  --tt-gray-dark-50: rgb(25 25 26 / 100%);
  --tt-gray-dark-100: rgb(32 32 34 / 100%);
  --tt-gray-dark-200: rgb(45 45 47 / 100%);
  --tt-gray-dark-300: rgb(70 70 73 / 100%);
  --tt-gray-dark-400: rgb(99 99 105 / 100%);
  --tt-gray-dark-500: rgb(124 124 131 / 100%);
  --tt-gray-dark-600: rgb(163 163 168 / 100%);
  --tt-gray-dark-700: rgb(192 192 195 / 100%);
  --tt-gray-dark-800: rgb(224 224 225 / 100%);
  --tt-gray-dark-900: rgb(245 245 245 / 100%);

  /* Brand colors */
  --tt-brand-color-50: rgb(239 238 255 / 100%);
  --tt-brand-color-100: rgb(222 219 255 / 100%);
  --tt-brand-color-200: rgb(195 189 255 / 100%);
  --tt-brand-color-300: rgb(157 138 255 / 100%);
  --tt-brand-color-400: rgb(122 82 255 / 100%);
  --tt-brand-color-500: rgb(98 41 255 / 100%);
  --tt-brand-color-600: rgb(84 0 229 / 100%);
  --tt-brand-color-700: rgb(75 0 204 / 100%);
  --tt-brand-color-800: rgb(56 0 153 / 100%);
  --tt-brand-color-900: rgb(43 25 102 / 100%);
  --tt-brand-color-950: hsl(257deg 100% 9% / 100%);

  /* Green */
  --tt-color-green-inc-5: hsl(129deg 100% 97% / 100%);
  --tt-color-green-inc-4: hsl(129deg 100% 92% / 100%);
  --tt-color-green-inc-3: hsl(131deg 100% 86% / 100%);
  --tt-color-green-inc-2: hsl(133deg 98% 78% / 100%);
  --tt-color-green-inc-1: hsl(137deg 99% 70% / 100%);
  --tt-color-green-base: hsl(147deg 99% 50% / 100%);
  --tt-color-green-dec-1: hsl(147deg 97% 41% / 100%);
  --tt-color-green-dec-2: hsl(146deg 98% 32% / 100%);
  --tt-color-green-dec-3: hsl(146deg 100% 24% / 100%);
  --tt-color-green-dec-4: hsl(144deg 100% 16% / 100%);
  --tt-color-green-dec-5: hsl(140deg 100% 9% / 100%);

  /* Yellow */
  --tt-color-yellow-inc-5: hsl(50deg 100% 97% / 100%);
  --tt-color-yellow-inc-4: hsl(50deg 100% 91% / 100%);
  --tt-color-yellow-inc-3: hsl(50deg 100% 84% / 100%);
  --tt-color-yellow-inc-2: hsl(50deg 100% 77% / 100%);
  --tt-color-yellow-inc-1: hsl(50deg 100% 68% / 100%);
  --tt-color-yellow-base: hsl(52deg 100% 50% / 100%);
  --tt-color-yellow-dec-1: hsl(52deg 100% 41% / 100%);
  --tt-color-yellow-dec-2: hsl(52deg 100% 32% / 100%);
  --tt-color-yellow-dec-3: hsl(52deg 100% 24% / 100%);
  --tt-color-yellow-dec-4: hsl(51deg 100% 16% / 100%);
  --tt-color-yellow-dec-5: hsl(50deg 100% 9% / 100%);

  /* Red */
  --tt-color-red-inc-5: hsl(11deg 100% 96% / 100%);
  --tt-color-red-inc-4: hsl(11deg 100% 88% / 100%);
  --tt-color-red-inc-3: hsl(10deg 100% 80% / 100%);
  --tt-color-red-inc-2: hsl(9deg 100% 73% / 100%);
  --tt-color-red-inc-1: hsl(7deg 100% 64% / 100%);
  --tt-color-red-base: hsl(7deg 100% 54% / 100%);
  --tt-color-red-dec-1: hsl(7deg 100% 41% / 100%);
  --tt-color-red-dec-2: hsl(5deg 100% 32% / 100%);
  --tt-color-red-dec-3: hsl(4deg 100% 24% / 100%);
  --tt-color-red-dec-4: hsl(3deg 100% 16% / 100%);
  --tt-color-red-dec-5: hsl(1deg 100% 9% / 100%);

  /* Basic colors */
  --white: rgb(255 255 255 / 100%);
  --black: rgb(14 14 17 / 100%);
  --transparent: rgb(255 255 255 / 0%);

  /****************** 
  Shadow variables
  ******************/

  --tt-shadow-elevated-md:
    0px 16px 48px 0px rgb(0 0 0 / 4%), 0px 12px 24px 0px rgb(0 0 0 / 4%),
    0px 6px 8px 0px rgb(0 0 0 / 2%), 0px 2px 3px 0px rgb(0 0 0 / 2%);

  /************************************************** 
       Radius variables 
    **************************************************/

  --tt-radius-xxs: 0.125rem; /* 2px */
  --tt-radius-xs: 0.25rem; /* 4px */
  --tt-radius-sm: 0.375rem; /* 6px */
  --tt-radius-md: 0.5rem; /* 8px */
  --tt-radius-lg: 0.75rem; /* 12px */
  --tt-radius-xl: 1rem; /* 16px */

  /************************************************** 
       Transition variables 
    **************************************************/

  --tt-transition-duration-short: 0.1s;
  --tt-transition-duration-default: 0.2s;
  --tt-transition-duration-long: 0.64s;
  --tt-transition-easing-default: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  --tt-transition-easing-cubic: cubic-bezier(0.65, 0.05, 0.36, 1);
  --tt-transition-easing-quart: cubic-bezier(0.77, 0, 0.18, 1);
  --tt-transition-easing-circ: cubic-bezier(0.79, 0.14, 0.15, 0.86);
  --tt-transition-easing-back: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  /****************** 
  Contrast variables
  ******************/

  --tt-accent-contrast: 8%;
  --tt-destructive-contrast: 8%;
  --tt-foreground-contrast: 8%;
}

:root,
.dark,
.light {
  /* stylelint-disable custom-property-pattern */

  /************************************************** 
      Global colors 
  **************************************************/

  --tt-bg-color: var(--vscode-editor-background);
  --tt-border-color: color-mix(in srgb, var(--vscode-foreground) 11%, transparent);
  --tt-border-color-tint: color-mix(in srgb, var(--vscode-foreground) 7%, transparent);
  --tt-sidebar-bg-color: var(--vscode-sideBar-background, var(--vscode-editor-background));
  --tt-scrollbar-color: var(--vscode-scrollbarSlider-background);
  --tt-cursor-color: var(--vscode-textLink-foreground);
  --tt-selection-color: color-mix(in srgb, var(--vscode-textLink-foreground) 20%, transparent);
  --tt-card-bg-color: var(--vscode-editorWidget-background, var(--vscode-editor-background));
  --tt-card-border-color: var(--vscode-widget-border, var(--vscode-panel-border));
  /* stylelint-enable custom-property-pattern */
}

/* Text colors */
:root {
  --tt-color-text-gray: hsl(0deg 0% 61%);
  --tt-color-text-brown: hsl(18deg 35% 58%);
  --tt-color-text-orange: hsl(25deg 53% 53%);
  --tt-color-text-yellow: hsl(36deg 54% 55%);
  --tt-color-text-green: hsl(145deg 32% 47%);
  --tt-color-text-blue: hsl(202deg 64% 52%);
  --tt-color-text-purple: hsl(270deg 55% 62%);
  --tt-color-text-pink: hsl(329deg 57% 58%);
  --tt-color-text-red: hsl(1deg 69% 60%);
  --tt-color-text-gray-contrast: hsl(0deg 0% 100% / 9%);
  --tt-color-text-brown-contrast: hsl(17deg 45% 50% / 25%);
  --tt-color-text-orange-contrast: hsl(27deg 82% 53% / 20%);
  --tt-color-text-yellow-contrast: hsl(35deg 49% 47% / 20%);
  --tt-color-text-green-contrast: hsl(151deg 55% 39% / 20%);
  --tt-color-text-blue-contrast: hsl(202deg 54% 43% / 20%);
  --tt-color-text-purple-contrast: hsl(271deg 56% 60% / 18%);
  --tt-color-text-pink-contrast: hsl(331deg 67% 58% / 22%);
  --tt-color-text-red-contrast: hsl(0deg 67% 60% / 25%);
}

.light {
  --tt-color-text-gray: hsl(45deg 2% 46%);
  --tt-color-text-brown: hsl(19deg 31% 47%);
  --tt-color-text-orange: hsl(30deg 89% 45%);
  --tt-color-text-yellow: hsl(38deg 62% 49%);
  --tt-color-text-green: hsl(148deg 32% 39%);
  --tt-color-text-blue: hsl(202deg 54% 43%);
  --tt-color-text-purple: hsl(274deg 32% 54%);
  --tt-color-text-pink: hsl(328deg 49% 53%);
  --tt-color-text-red: hsl(2deg 62% 55%);
  --tt-color-text-gray-contrast: hsl(39deg 26% 26% / 15%);
  --tt-color-text-brown-contrast: hsl(18deg 43% 69% / 35%);
  --tt-color-text-orange-contrast: hsl(24deg 73% 55% / 27%);
  --tt-color-text-yellow-contrast: hsl(44deg 82% 59% / 39%);
  --tt-color-text-green-contrast: hsl(126deg 29% 60% / 27%);
  --tt-color-text-blue-contrast: hsl(202deg 54% 59% / 27%);
  --tt-color-text-purple-contrast: hsl(274deg 37% 64% / 27%);
  --tt-color-text-pink-contrast: hsl(331deg 60% 71% / 27%);
  --tt-color-text-red-contrast: hsl(8deg 79% 79% / 40%);
}

/* Highlight colors */
:root {
  --tt-color-highlight-green: #509568;
  --tt-color-highlight-blue: #6e92aa;
  --tt-color-highlight-purple: #583e74;
  --tt-color-highlight-red: #743e42;
  --tt-color-highlight-gray: rgb(47 47 47);
  --tt-color-highlight-brown: rgb(74 50 40);
  --tt-color-highlight-orange: rgb(92 59 35);
  --tt-color-highlight-pink: rgb(78 44 60);
  --tt-color-highlight-yellow-contrast: #58531e;
  --tt-color-highlight-green-contrast: #47855d;
  --tt-color-highlight-blue-contrast: #5e86a1;
  --tt-color-highlight-purple-contrast: #4c3564;
  --tt-color-highlight-red-contrast: #643539;
  --tt-color-highlight-gray-contrast: rgb(255 255 255 / 9.4%);
  --tt-color-highlight-brown-contrast: rgb(184 101 69 / 25%);
  --tt-color-highlight-orange-contrast: rgb(233 126 37 / 20%);
  --tt-color-highlight-pink-contrast: rgb(220 76 145 / 22%);
}

.light {
  --tt-color-highlight-yellow: #fef9c3;
  --tt-color-highlight-green: #dcfce7;
  --tt-color-highlight-blue: #e0f2fe;
  --tt-color-highlight-purple: #f3e8ff;
  --tt-color-highlight-red: #ffe4e6;
  --tt-color-highlight-gray: rgb(248 248 247);
  --tt-color-highlight-brown: rgb(244 238 238);
  --tt-color-highlight-orange: rgb(251 236 221);
  --tt-color-highlight-pink: rgb(252 241 246);
  --tt-color-highlight-yellow-contrast: #fbe604;
  --tt-color-highlight-green-contrast: #c7fad8;
  --tt-color-highlight-blue-contrast: #ceeafd;
  --tt-color-highlight-purple-contrast: #e4ccff;
  --tt-color-highlight-red-contrast: #ffccd0;
  --tt-color-highlight-gray-contrast: rgb(84 72 49 / 15%);
  --tt-color-highlight-brown-contrast: rgb(210 162 141 / 35%);
  --tt-color-highlight-orange-contrast: rgb(224 124 57 / 27%);
  --tt-color-highlight-pink-contrast: rgb(225 136 179 / 27%);
}
